* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

section {
    width: 100%;
    text-align: center;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.first-page {
    background: url("../imgs/Sections background/section-1(header).jpg") no-repeat center top / cover;
    background-attachment: fixed;
    height: 100%;
}

header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.35);
}

nav {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 21px;
}

/*.menu li:last-child{*/
/*/*margin-right: 0px;*/
/*}*/
.menu a {
    display: block;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 55px 0 51px 0;
    border-bottom: solid transparent 2px;
}

.menu img {
    margin-top: 52px;
    margin-right: -20px;
}

.menu a:hover {
    border-bottom: solid #18cfab 2px;
    color: #18cfab;
}

.logo {
    float: left;
    width: 200px;
    margin-top: 26px;
}

/*.logo p{*/
/*font-size: 32px;*/
/*color: #fff;*/
/*}*/
/*.logo span{*/
/*color: #18cfab;*/
/*font-weight: bold;*/

/*}*/
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.titles {
    margin: 145px 0 145px 0;
}

h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}

h2 span {
    color: #18cfab;
}

h1 {
    font-size: 79px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 45px 0 45px 0;
}

.titles p {
    font-size: 34px;
    color: #d4d4d4;
    margin-bottom: 96px;
}

.button {
    display: inline-block;
    background: #18cfab;
    width: 160px;
    white-space: nowrap;
    color: #fff;
    border-radius: 4px;
    border-top: solid 2px #fff;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.explore {
    margin-right: 15px;
}

.purchase {
    background-color: #00cbf6;
}

.button:hover {
    opacity: 0.8;
    /*Или сделай шедоу*/
}

.our-services {
    display: flex;
    height: 250px;
}

.our-services div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c2a33;
    width: 25%;
    border-top: solid 4px #18cfab;
    color: #18cfab;
}

.our-services p {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.our-services div:nth-child(2n) {
    background-color: #18cfab;
    border-top: solid 4px #fff;
    color: #fff;
}

i {
    display: block;
    font-size: 65px;
    color: #fff;
}

.lines {
    margin: 0 auto;
    width: 76px;
}

.lines p {
    /*text-align: center;*/
    color: #18cfab;
    line-height: 0.4;
}

.content-titles {
    padding: 85px 0 40px 0;
}

.content-titles span {
    color: #fff;
}

.content-titles h3 {
    margin-bottom: 25px;
    font-size: 36px;
    color: #4e4e4e;
}

.purchase-section {
    background: url("../imgs/Sections background/section-2.jpg") no-repeat center top / cover;
    background-attachment: fixed;
}

.purchase-section-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
}

.purchase-titles {
    padding: 130px 0 120px 0;
}

h5 {
    margin: 30px 0 70px 0;
    font-size: 16px;
    color: #c1c0c0;
}

.our-services-captions ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.our-services-captions li {
    display: block;
    float: left;
    width: calc(100% / 6);
    background-color: #f8fcfe;
    border: 2px solid #ebebeb;
    box-sizing: border-box;
    padding: 28px 0 28px 0;
    margin-bottom: 25px;
    cursor: pointer;

}

/*.our-services-captions li:last-child:before {*/
/*content: '';*/
/*position: absolute;*/
/*bottom: -5px;*/
/*left: 0;*/
/*right: -2px;*/
/*z-index: -1;*/
/*height: 5px;*/
/*background: #7DCA86;*/
/*}*/
/*.our-services-captions:after {*/
/*content: '';*/
/*display: table;*/
/*clear: both;*/
/*}*/
.our-services-captions .active {
    background-color: #18cfab;
}

.our-service-tab-content {
    display: none;
    margin-bottom: 100px;
}

.our-service-tab-content img {
    max-height: 145px;
}

.our-service-tab-content p {
    font-size: 14px;
    text-align: justify;
    padding-left: 15px;
    line-height: 180%;
}

.our-service-tab-content.active {
    display: flex;
}

.amazing-work {
    background-color: #f8fcfe;
}

.button-row {
    margin: 70px 0 70px 0;
}

.button-row button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 25px;
    background-color: #fff;
    border: 2px solid #ebebeb;
}

.button-row button:focus {
    outline: none;
    /*color: #18cfab;*/
    /*border-top: 2px solid #18cfab;*/
}

.ouw__photo-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 70px;
}

img.hidden {
    display: none;
}
img.hidden2 {
    display: none;
}

.loadMore {
    margin-bottom: 70px;;
}

.button-row .focused {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

/*Creating cards content*/
.card-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 110px;
}

.card {
    position: relative;
    background-color: #f8fcfe;
    margin: 30px 10px;
    cursor: pointer;
}

.date {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    z-index: 2;
    transition: 1000ms;
}

.date p {
    line-height: 150%;
    color: #fff;
}

.card-content {
    text-align: left;
}

.card-content h4 {
    padding: 18px 0 15px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    transition: 1000ms;

}

.card-content p {
    padding: 10px 15px;
    font-size: 14px;

}

.clickable {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

.card:hover .date {
    background-color: #18cfab;
}

.card:hover h4 {
    color: #18cfab;
}

/*Cards finished*/

/*what people say about us section*/
.what-people-say {
    background: url("../imgs/Sections background/section-3.jpg") no-repeat center top / cover;
    background-attachment: fixed;
}

/*Slider properties at what-people-say-about-us section*/

.slider-content img {
    border-radius: 50%;
    border: 2px solid #18cfab;
    margin-bottom: 40px;
    box-shadow: 0 0 1px 10px rgba(18, 67, 65, .8);
}

.slider-content p {
    color: #bbb;
    margin-top: 60px;
}

.slider-content h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
    margin: 40px 0 20px 0;
}

.slider-content h4 {
    font-size: 13px;
    color: #bbb;
    margin-bottom: 35px;
}

.slider-content img {
    width: 150px;
}

.slider-pickers {
    max-width: 660px;
    margin: 0 auto;
    position: relative;
}

.slider-pickers span {

}

.slider-pickers img {
    width: 60px;
    margin: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px 5px rgba(16, 75, 75, .5);
    cursor: pointer;
}

.dot.active-dot {
    border: 1px solid #18cfab;
    margin-bottom: 50px;
}

.slider-navigation-panel {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.prev, .next {
    display: inline-block;
    position: absolute;
    top: 40%;
    padding: 5px 8px;
    border: 1px solid #fff;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}

.prev {
    left: 50px;
}

.next {
    right: 50px;
}

.prev:hover, .next:hover {
    opacity: 1;
    background-color: #18cfab;
    border-color: #18cfab;
}

/*costumizing masonry gallery*/
.best-images-gallery {
    background-color: #f8fcfe;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 31.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 100%;
}

.grid {
    margin-bottom: 30px;
}

/*footer*/
footer {
    height: 110px;
    background-color: #22353f;
}

footer p {
    font-size: 14px;
    color: #9b9e9f;
    text-align: center;
    padding-top: 55px;
}

footer span {
    color: #18cfab;
}

/*loading animation*/
/*NOT forget to shorten it*/


.loader {
    height: 100%;
    width: 100%;
    display: none;
    padding: 70px 0;
    position: relative;
}

.loader .l_main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 172px;
    height: 128px;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media (max-width: 550px) {
    .loader {
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }
}

@media (max-width: 440px) {
    .loader {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

.l_square {
    position: relative
}

.l_square:nth-child(1) {
    margin-left: 0
}

.l_square:nth-child(2) {
    margin-left: 44px
}

.l_square:nth-child(3) {
    margin-left: 88px
}

.l_square:nth-child(4) {
    margin-left: 132px
}

.l_square span {
    position: absolute;
    top: 0;
    left: 20px;
    height: 36px;
    width: 36px;
    border-radius: 2px;
    background-color: #18cfab
}

.l_square span:nth-child(1) {
    top: 0
}

.l_square span:nth-child(2) {
    top: 44px
}

.l_square span:nth-child(3) {
    top: 88px
}

.l_square:nth-child(1) span {
    -webkit-animation: animsquare1 2s infinite ease-in;
    animation: animsquare1 2s infinite ease-in
}

.l_square:nth-child(2) span {
    -webkit-animation: animsquare2 2s infinite ease-in;
    animation: animsquare2 2s infinite ease-in
}

.l_square:nth-child(3) span {
    -webkit-animation: animsquare3 2s infinite ease-in;
    animation: animsquare3 2s infinite ease-in
}

.l_square:nth-child(4) span {
    -webkit-animation: animsquare4 2s infinite ease-in;
    animation: animsquare4 2s infinite ease-in
}

.l_square span:nth-child(1) {
    -webkit-animation-delay: 0.00s;
    animation-delay: 0.00s
}

.l_square span:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s
}

.l_square span:nth-child(3) {
    -webkit-animation-delay: 0.30s;
    animation-delay: 0.30s
}

@-webkit-keyframes animsquare1 {
    0%, 5%, 95%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    30%, 70% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@keyframes animsquare1 {
    0%, 5%, 95%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    30%, 70% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@-webkit-keyframes animsquare2 {
    0%, 10%, 90%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    35%, 65% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@keyframes animsquare2 {
    0%, 10%, 90%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    35%, 65% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@-webkit-keyframes animsquare3 {
    0%, 15%, 85%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    40%, 60% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@keyframes animsquare3 {
    0%, 15%, 85%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    40%, 60% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@-webkit-keyframes animsquare4 {
    0%, 20%, 80%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    45%, 55% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}

@keyframes animsquare4 {
    0%, 20%, 80%, 100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    45%, 55% {
        -webkit-transform: translate(-40px, 0px) rotate(-90deg);
        transform: translate(-40px, 0px) rotate(-90deg)
    }
}